<template>
  <div>
    <svg v-if="exitButton" @click="$emit('exit')" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-83.6 290.5c4.8 4.8 4.8 12.6 0 17.4l-40.5 40.5c-4.8 4.8-12.6 4.8-17.4 0L256 313.3l-66.5 67.1c-4.8 4.8-12.6 4.8-17.4 0l-40.5-40.5c-4.8-4.8-4.8-12.6 0-17.4l67.1-66.5-67.1-66.5c-4.8-4.8-4.8-12.6 0-17.4l40.5-40.5c4.8-4.8 12.6-4.8 17.4 0l66.5 67.1 66.5-67.1c4.8-4.8 12.6-4.8 17.4 0l40.5 40.5c4.8 4.8 4.8 12.6 0 17.4L313.3 256l67.1 66.5z"/>
    </svg>
    <canvas v-show-places="internPlaces" @click="clickOnPic" @mousemove="onMouseMove" :class="{clickable: clickable}"/>
  </div>
</template>

<script>

  import Position from "./Position";
  import Place from "./Place";

  const RADIUS = 10;

  export default {
    components: {},
    props: {
      places: {
        required: true
      },
      pic: {
        required: true,
        type: String
      },
      areas: { // array of Area instances
        required: false,
        default() {
          return [];
        }
      },
      placeStyle: {
        required: false,
        default() {
          return {};
        }
      },
      exitButton: {
        required: false,
        type: Boolean,
        default: false
      }
    },
    watch: {
      places: {
        handler: function (places) {
          this.recalculatePic(places);
        },
        deep: true
      }
    },
    created() {
      this.img = new Image();
      this.img.src = this.pic;

      this.internPlaceStyle = this.placeStyle || {};
      this.internPlaceStyle.circle = this.internPlaceStyle.circle || {};
      this.internPlaceStyle.circle.active = this.internPlaceStyle.circle.active || {};
      this.internPlaceStyle.circle.active.background = this.internPlaceStyle.circle.active.background || {};
      this.internPlaceStyle.circle.active.fill = this.internPlaceStyle.circle.active.fill || 'yellow';
      this.internPlaceStyle.circle.active.stroke = this.internPlaceStyle.circle.active.stroke || 'red';
      this.internPlaceStyle.circle.active.fontcolor = this.internPlaceStyle.circle.active.fontcolor || 'black';
      this.internPlaceStyle.circle.inactive = this.internPlaceStyle.circle.inactive || {};
      this.internPlaceStyle.circle.inactive.fill = this.internPlaceStyle.circle.inactive.fill || 'rgba(255,255,255,.5)';
      this.internPlaceStyle.circle.inactive.stroke = this.internPlaceStyle.circle.inactive.stroke || 'black';
      this.internPlaceStyle.circle.inactive.fontcolor = this.internPlaceStyle.circle.inactive.fontcolor || 'black';
      this.internPlaceStyle.label = this.internPlaceStyle.label || {};
      this.internPlaceStyle.label.stroke = this.internPlaceStyle.label.stroke || 'white';
      this.internPlaceStyle.label.fontcolor = this.internPlaceStyle.label.fontcolor || 'black';

      this.recalculatePic(this.places);
    },
    data() {
      return {
        internPlaces: [],
        internPlaceStyle: {},
        lastClickedOn: null,
        img: null,
        clickable: false
      }
    },
    directives: {
      showPlaces: function (canvasElement, binding, vnode) {
        const places = binding.value;
        const ctx = canvasElement.getContext("2d");
        const img = vnode.context.img;
        canvasElement.width = img.width;
        canvasElement.height = img.height;
        ctx.clearRect(0, 0, img.width, img.height);
        ctx.drawImage(img, 0, 0);

        const style = vnode.context.internPlaceStyle;

        function drawCircle(place, style) {
          ctx.strokeStyle = style.stroke;
          ctx.fillStyle = style.fill;
          ctx.beginPath();
          ctx.arc(place.position.x, place.position.y, RADIUS * 2, 0, 2 * Math.PI);
          ctx.fill();
          ctx.stroke();
        }

        function drawShort(place, style) {
          ctx.fillStyle = style.fontcolor;
          ctx.font = '20px Arial';
          ctx.textAlign = 'center';
          ctx.textBaseline = 'middle';
          ctx.fillText(place.short, place.position.x, place.position.y);
        }

        function drawLabel(place, style) {
          ctx.strokeStyle = style.stroke;
          ctx.lineWidth = 7;
          ctx.strokeText(place.label, place.position.x, place.position.y + 30);
          ctx.lineWidth = 1;
          ctx.fillStyle = style.fontcolor;
          ctx.fillText(place.label, place.position.x, place.position.y + 30);
        }

        // point at position
        places
          .filter(p => !p.active)
          .forEach(place => {
            drawCircle(place, style.circle.inactive);
            drawShort(place, style.circle.inactive);
          });
        places
          .filter(p => p.active)
          .forEach(place => {
            drawCircle(place, style.circle.active);
            drawShort(place, style.circle.active);
            drawLabel(place, style.label);
          });
      }
    },
    methods: {
      onMouseMove(e) {
        const mouseOverPosition = new Position(e.offsetX, e.offsetY);
        this.clickable = this.internPlaces.some(place => place.hits(mouseOverPosition, RADIUS * 2)) ||
          this.areas.some(area => area.contains(mouseOverPosition));
      },
      recalculatePic(places) {
        if (places.length) {
          this.internPlaces = places;
        } else {
          this.internPlaces.push(new Place(1, '', '', new Position(-100, -100)));
          this.internPlaces = [];
        }
      },
      clickOnPic(e) {
        this.lastClickedOn = new Position(e.offsetX, e.offsetY);
        console.info(`clicked: ${this.lastClickedOn.x}, ${this.lastClickedOn.y}`);
        const clickOnMapOnPoint = this.internPlaces.some(place => place.hits(this.lastClickedOn, RADIUS * 2));
        if (clickOnMapOnPoint) {
          this.internPlaces.forEach(pom => {
            pom.active = pom.hits(this.lastClickedOn, RADIUS);
            if (pom.active) {
              this.$emit('hit-place', pom);
            }
          });
        } else if (this.areas.some(area => area.contains(this.lastClickedOn))) {
          const clickedArea = this.areas.filter(area => area.contains(this.lastClickedOn))[0];
          this.$emit(`hit-area`, clickedArea);
        } else {
          this.$emit('click-map', this.lastClickedOn);
        }
      }
    }
  }
</script>

<style scoped>

  svg {
    position: absolute;
    background: transparent;
    border: 0 solid transparent;
    margin: 0;
    padding: 0;
    fill: black;
    width: 25px;
    cursor: pointer;
  }

  canvas.clickable {
    cursor: pointer;
  }

  svg:hover {
    fill: red;
    width: 25px;
  }
</style>