<template>
  <div>
    <h1>Add new places</h1>
    <p>Click somewhere on the map to add a place</p>
    <PlaceOnPic pic="berlin.jpg" :places="places" @click-map="addPlace"></PlaceOnPic>
    <a href="https://commons.wikimedia.org/wiki/File:Cityscape_Berlin.jpg">Picture Credits</a>
  </div>
</template>

<script>
  import PlaceOnPic from "../vue-place-on-pic/PlaceOnPic";
  import Place from "../vue-place-on-pic/Place";

  export default {
    components: {PlaceOnPic},
    data() {
      return {
        places: [
        ]
      }
    },
    methods: {
      addPlace(position) {
        const name = prompt('Name of place');
        if (name && name.trim().length) {
          const newPlace = new Place(this.places.length, name.trim().toUpperCase()[0], name.trim(), position);
          this.places.push(newPlace);
        }
      }
    }
  }
</script>