<template>
  <div>
    <h1>Define special Areas</h1>
    <p>Click on the "Brandenburg Gate"</p>
    <p class="info" v-if="found">You clicked the gate!</p>
    <PlaceOnPic pic="berlin.jpg" :places="places" :areas="areas" @hit-area="found = true"></PlaceOnPic>
    <a href="https://commons.wikimedia.org/wiki/File:Cityscape_Berlin.jpg">Picture Credits</a>
  </div>
</template>

<script>
  import PlaceOnPic from "../vue-place-on-pic/PlaceOnPic";
  import Position from "../vue-place-on-pic/Position";
  import Area from "../vue-place-on-pic/Area";

  export default {
    components: {PlaceOnPic},
    data() {
      return {
        hit: null,
        places: [],
        found: false,
        areas: [
          new Area('brandenburg-gate', new Position(549, 303), new Position(597, 336))
        ]
      }
    }
  }
</script>

<style scoped>
  .info {
    position: fixed;
    background: lightyellow;
    padding: 10px;
    margin: 0;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
</style>