<template>
  <div>
    <div>
      Available Demos:<br>
      <button @click="view = 1" :disabled="view === 1">Static Infos</button>
      <button @click="view = 2" :disabled="view === 2">Add new places</button>
      <button @click="view = 3" :disabled="view === 3">Define Areas</button>
      <button @click="view = 4" :disabled="view === 4">Style</button>
      <button @click="view = 5" :disabled="view === 5">Multi Pics</button>
    </div>
    <div>
      <StaticInfosOnPic v-if="view === 1"/>
      <AddPlacesOnPic v-if="view === 2"/>
      <DefineAreas v-if="view === 3"/>
      <StylePic v-if="view === 4"/>
      <MultiPics v-if="view === 5"/>
    </div>
  </div>
</template>

<script>
  import StaticInfosOnPic from "./StaticInfosOnPic";
  import AddPlacesOnPic from "./AddPlacesOnPic";
  import DefineAreas from "./DefineAreas";
  import StylePic from "./StylePic";
  import MultiPics from "./MultiPics";

  export default {
    components: {MultiPics, StylePic, StaticInfosOnPic, AddPlacesOnPic, DefineAreas},
    data() {
      return {
        view: 1
      }
    }
  }
</script>