<template>
  <div>
    <h1>Multi Pics</h1>

    <div v-show="show === 'berlin'">
      <p>Click "Brandenburg Gate"</p>
      <PlaceOnPic pic="berlin.jpg"
                  :places="places"
                  :areas="areasBerlin"
                  @hit-area="show = 'gate'"></PlaceOnPic>
      <p>
        <a href="https://commons.wikimedia.org/wiki/File:Cityscape_Berlin.jpg">Thomas Wolf - CC BY-SA 3.0</a><br>
      </p>
    </div>

    <div v-show="show === 'gate'">
      <p>Click "Victory Clumn" (center of the gate)</p>
      <PlaceOnPic pic="brandenburg-gate.jpg"
                  :places="places"
                  :areas="areasGate"
                  @hit-area="show = 'column'"></PlaceOnPic>
      <p>
        <a href="https://commons.wikimedia.org/w/index.php?curid=14954185">Berthold Werner - CC BY-SA 3.0</a><br>
      </p>
    </div>

    <div v-show="show === 'column'">
      <p>Click Exit to go back</p>
      <PlaceOnPic pic="berlin-victory-column.jpg"
                  :places="places"
                  exit-button
                  @exit="show = 'berlin'"></PlaceOnPic>
      <p>
        <a href="https://commons.wikimedia.org/w/index.php?curid=22799851">Pedelecs - CC BY-SA 3.0</a>
      </p>
    </div>
  </div>
</template>

<script>

  import PlaceOnPic from "../vue-place-on-pic/PlaceOnPic";
  import Position from "../vue-place-on-pic/Position";
  import Area from "../vue-place-on-pic/Area";

  export default {
    components: {PlaceOnPic},
    data() {
      return {
        places: [],
        show: 'berlin',
        areasBerlin: [
          new Area('brandenburg-gate', new Position(549, 303), new Position(597, 336))
        ],
        areasGate: [
          new Area('column', new Position(376, 263), new Position(427, 379))
        ]
      }
    }
  }
</script>

<style scoped>
  .info {
    position: fixed;
    background: lightyellow;
    padding: 10px;
    margin: 0;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
</style>