<template>
  <div>
    <h1>Static Infos on picture</h1>
    <p>Click on a circle to get names</p>
    <p class="info" v-if="hit">{{hit.label}} at position {{hit.position.x}}, {{hit.position.y}}</p>
    <PlaceOnPic pic="berlin.jpg" :places="places" @hit-place="p => hit = p" :place-style="style"></PlaceOnPic>
    <a href="https://commons.wikimedia.org/wiki/File:Cityscape_Berlin.jpg">Picture Credits</a>
  </div>
</template>

<script>
  import PlaceOnPic from "../vue-place-on-pic/PlaceOnPic";
  import Place from "../vue-place-on-pic/Place";
  import Position from "../vue-place-on-pic/Position";

  export default {
    components: {PlaceOnPic},
    data() {
      return {
        hit: null,
        places: [
          new Place(1, 'F', 'Fernsehturm Berlin', new Position(374, 132)),
          new Place(2, 'BC', 'Berlin Cathedral', new Position(443, 246)),
        ],
        style: {
          circle: {
            active: {
              fill: 'darkblue',
              stroke: 'yellow',
              fontcolor: 'white'
            },
            inactive: {
              fill: 'rgba(55,150,50,.8)',
              stroke: 'red',
              fontcolor: 'purple'
            }
          },
          label: {
            stroke: 'darkred',
            fontcolor: 'orange'
          }
        }
      }
    }
  }
</script>

<style scoped>
  .info {
    position: fixed;
    background: lightyellow;
    padding: 10px;
    margin: 0;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
</style>