<template>
  <div id="app">
    <div>
      <button @click="view = 'home'" :disabled="view === 'home'">Home</button>
      <button @click="view = 'demos'" :disabled="view === 'demos'">Demos</button>
    </div>
    <h1>vue-place-on-pic</h1>
    <Home v-if="view === 'home'"/>
    <Demos v-if="view === 'demos'"/>

  </div>
</template>

<script>

  import Home from './Home'
  import Demos from './demo/Demos'

  export default {
    name: 'App',
    components: {
      Home, Demos
    }, data() {
      return {view: 'home'}
    }
  }
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
